body {
    background-image: url("../img/cover2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


.container01 {
    width: 960px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 20px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.btn {
    position: fixed;
    float: left;
    width: 200px;
    left: 850px;
    top: 400px;
}

.que01 {
    font-size: 30px;
    color: rgba(251, 255, 0, 0.801);
    top: 300px;
}

footer {
    font-size: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.425);
    color: rgba(251, 255, 0, 0.801);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 0px;
}