body {
    background-image: url("../img/cover2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


.btn {
    position: fixed;
    float: left;
    width: 200px;
    left: 850px;
    top: 400px;
    color: rgba(251, 255, 0, 0.801);
    border-color: rgba(0, 0, 0, 0.801);
}

.btn:hover{
    color: rgba(251, 255, 0, 0.801); 
}

.que01 {
    position: fixed;
    text-align: center;
    font-size: 30px;
    color: rgba(233, 218, 17, 0.801);
    left: 820px;
    top: 50px;
}

.timer {
    position: fixed;
    top: 90px;
    font-size: 25px;
    right: 870px;
    color: rgba(233, 218, 17, 0.801);
    
}

.anounce{
    position: fixed;
    font-size: 30px;
    color: rgba(233, 218, 17, 0.801);
    top: 50px;
    right: 760px;
}

header {
    background-color: rgba(0, 0, 0, 0.801);
    width: 100%;

}

#img {
    width: 120px;
    height: 120px;
    opacity: 0.9;
    margin-left: 480px;
}

#img2 {
    width: 120px;
    height: 120px;
    opacity: 0.9;
    margin-left: 720px;
}

#img3 {
    max-width: 120px;
    max-height: 120px;
    width: 120px;
    height: 120px;
    height: 120px;
    opacity: 0.9;
    margin-left: 25%;
    
}

.answers {
    position: fixed;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.801);
    top: 170px;
    right: 900px;
}

.unanswered {
    position: fixed;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.801);
    top: 200px;
    right: 800px;
}

.text01 {
    position: fixed;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.801);
    top: 230px;
    right: 900px;
}

#a00 {
    position: fixed;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.801);
    top: 140px;
    right: 900px;
}

.container03 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.801);
    margin-left: 30%;
    text-align: center;
    width: 200px;
    padding: 10px;
}

.container03:hover {
    background-color: rgba(0, 0, 0, 0.801);
    width: 200px;
    padding: 10px;
    color: rgba(233, 218, 17, 0.801);
    border-radius: 5px;

}


footer {
    font-size: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.877);
    color: rgba(251, 255, 0, 0.801);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 0px;
}